html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* --primary-color: #5da8e6; */
  /* --secondary-color: #147fd1; */
  --secondary-color: black;
  --primary-color: black;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  min-height: 100%;
  position: relative;
  width: 100%;
}

body {
  background-color: white;
  background-image: none;
  background-repeat: repeat;
  background-size: 200px 200px;
  color: var(--primary-color);
  cursor: default;
  font-family: Varela Round;
  font-size: 14px;
  height: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
  width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  color: var(--primary-color);
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: var(--primary-color);
  /* color: hsla(0, 0%, 0%, 0.8); */
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/* CUSTOM STYLES HERE */

/* HEADER */
header {
  padding: 20px;
  text-align: center;
}
header.has-background {
  background-color: #ffffff;
  padding-bottom: 60px;
}
header .header-nav {
  font-family: Varela Round;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  header .header-nav {
    display: none;
  }
}
header .header-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
header .header-nav ul li.selected a {
  color: var(--primary-color);
}
header .header-nav ul a {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  border-bottom: 1px solid #e5e5e5;
  color: Var(--secondary-color);
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 8px 16px 16px;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  header .header-nav ul a {
    border-bottom: none;
    text-decoration: underline;
  }
}
header .header-nav ul a:hover {
  color: var(--primary-color);
}
header .header-nav ul .more-link {
  display: none;
}
@media screen and (max-width: 767px) {
  header .header-nav ul .more-link {
    display: block;
  }
}
header .header-nav.mobile-nav {
  display: none;
}
@media screen and (max-width: 767px) {
  header .header-nav.mobile-nav {
    display: block;
    font-family: Times New Roman;
  }
}

header .branding {
  font-size: 20px;
  margin: 60px auto;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  header .branding {
    margin: 30px auto;
  }
  header .branding .store-header {
    font-size: 36px;
    letter-spacing: 3px;
  }
}
header .branding > a {
  display: block;
}

.store-logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 400px;
}

/* LIST ITEM */

.product-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  font-size: 20px;
  margin: 0 -10px;
}
@media screen and (max-width: 767px) {
  .product-list {
    width: auto;
  }
}

@media screen and (max-width: 1280px) {
  #home .product-list {
    padding: 0 20px;
  }
}
.product-list-item {
  display: inline-block;
  font-size: 0;
  padding-bottom: 40px;
  position: relative;
  vertical-align: middle;
  text-align: center;
  width:  40% ;
}
@media only screen and (min-width: 768px) and (hover: hover), (-moz-touch-enabled: 0) {
  .product-list-item.rollover {
    margin-bottom: 0px;
    padding-bottom: 0;
  }
  .product-list-item.rollover .product-list-item-background {
    background-color: Var(--secondary-color);
    border-radius: 4px;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .product-list-item.rollover .product-list-item-info {
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-radius: 4px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .product-list-item.rollover .product-list-item-info .product-list-item-name:after {
    background-color: #ffffff;
  }
  .product-list-item.rollover .product-list-item-info * {
    color: #ffffff;
  }
  .product-list-item.rollover .product-list-item-info .product-list-item-info-headers {
    top: 5%;
  }
  .product-list-item.rollover:hover .product-list-item-info, .product-list-item.rollover:focus .product-list-item-info {
    opacity: 1;
  }
  .product-list-item.rollover:hover .product-list-item-info .product-list-item-info-headers, .product-list-item.rollover:focus .product-list-item-info .product-list-item-info-headers {
    top: 0%;
  }
}
@media only screen and (min-width: 768px) and (hover: hover) and (max-width: 767px), screen and (-moz-touch-enabled: 0) and (max-width: 767px) {
  .product-list-item.rollover {
    margin-bottom: 20px;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .product-list-item {
    padding: 0 10px 50px 10px;
    width:  50% ;
  }
}

.product-list-item-container {
  cursor: default;
  display: inline-block;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.product-list-image-container {
  font-size: 0;
  width: 100%;
}

.product-list-image {
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  border-radius: 4px;
  cursor: pointer;
  left: 50%;
  position: absolute;
  top: 50%;
  max-width: 100%;
}
.product-list-image.image-tall {
  height: calc(100% - 20px);
  width: auto;
}
@media screen and (max-width: 767px) {
  .product-list-image.image-tall {
    height: calc(100% - 10px);
  }
}
.product-list-image.image-wide {
  /* height: auto; */
  width: calc(100% - 20px);
}
@media screen and (max-width: 767px) {
  .product-list-image.image-wide {
    width: calc(100% - 10px);
  }
}
.product-list-image.image-square {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
}
@media screen and (max-width: 767px) {
  .product-list-image.image-square {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
  }
}

@media screen and (max-width: 767px) {
  .product-list-item-info {
    margin-top: 8px;
  }
}

.product-list-item-info-headers {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding-top: 8px;
  position: relative;
  z-index: 1;
}

.product-list-item-name {
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 30px;
  margin-bottom: 20px;
  padding: 0 20px;
  position: relative;
  text-transform: uppercase;
  overflow-wrap: break-word;
}
.product-list-item-name:after {
  bottom: -8px;
  content: "";
  background-color: var(--primary-color);
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 24px;
}
@media screen and (max-width: 767px) {
  .product-list-item-name {
    font-size: 16px;
    line-height: 22px;
    padding: 0 8px;
  }
}

.product-list-item-price {
  font-family: Times New Roman;
  font-size: 16px;
}

.product-list-item-status {
  color: Var(--secondary-color);
  font-family: Times New Roman;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .product-list-item-status {
    font-size: 12px;
  }
}


@keyframes reset {
  from {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: reset, fade-in;
  -webkit-animation-name: reset, fade-in;
  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}



/*  */
.custom-page-header {
  text-align: center;
}
.page-title {
  font-size: 24px;
  letter-spacing: 3px;
  text-align: center;
}
h1.has-dash, h2.has-dash, h3.has-dash, h4.has-dash, h5.has-dash {
  margin-bottom: 48px;
}
h1.has-dash:after, h2.has-dash:after, h3.has-dash:after, h4.has-dash:after, h5.has-dash:after {
  bottom: -8px;
  content: "";
  background-color: var(--primary-color);
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 24px;
}
.custom-page-content {
  font-family: Times New Roman;
  font-size: 16px;
  line-height: 1.43em;
  margin: 0 auto;
  max-width: 640px;
}
.custom-page-content a {
  text-decoration: underline;
}
.custom-page-content ol, .custom-page-content ul {
  padding-left: 1em;
}
.custom-page-content img, .custom-page-content iframe {
  max-width: 100%;
}
h1, h2, h3, h4, h5 {
  color: var(--primary-color);
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
  position: relative;
  text-transform: uppercase;
}
.centered-message {
  color: Var(--secondary-color);
  font-family: Times New Roman;
  font-size: 20px;
  font-style: italic;
  padding: 0 20px;
  text-align: center;
}
.centered-message a {
  text-decoration: underline;
}

/* PRODUCT PAGE */
#products_page .footer-nav {
  border-top: 0px;
}
#product_page .footer-nav {
  border: none;
}

.product-page {
  padding-bottom: 30px;
  position: relative;
}
.product-page:before, .product-page:after {
  content: "";
  display: table;
  clear: both;
}
.product-page .product-page-headings {
  float: left;
  max-width: 33.33%;
  padding-right: 40px;
  padding-left: 0;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .product-page .product-page-headings {
    float: none;
    max-width: 100%;
    padding: 0;
  }
}
.product-page .product-title {
  margin-bottom: 24px;
  text-align: center;
}
.product-page .product-price {
  font-family: Times New Roman;
  margin-bottom: 32px;
  text-align: center;
}
.product-page .product-status {
  color: Var(--secondary-color);
  display: block;
  font-family: Times New Roman;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 16px;
  text-align: center;
  vertical-align: top;
}
.product-page .product-details {
  clear: left;
  float: left;
  max-width: 33.33%;
  padding-right: 40px;
  padding-left: 0;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .product-page .product-details {
    float: none;
    max-width: 100%;
    padding: 0;
  }
}
.product-page .product-details:last-child {
  margin-bottom: 0;
}
.product-page .add-to-cart-button {
  display: block;
  margin-bottom: 32px;
  width: 100%;
}
.product-page .product-description {
  font-family: Times New Roman;
  line-height: 1.4em;
  margin-bottom: 32px;
}
.product-page .product-description a {
  text-decoration: underline;
}
.product-page .product-description ol, .product-page .product-description ul {
  padding-left: 1em;
}
.product-page .product-description img, .product-page .product-description iframe {
  max-width: 100%;
}
.product-page .product-images {
  float: right;
  max-width: 66.66%;
  padding-left: 40px;
  padding-right: 0;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .product-page .product-images {
    float: none;
    max-width: 100%;
    padding: 0;
  }
}
.product-page .product-image {
  border-radius: 4px;
  display: block;
  margin-bottom: 32px;
  max-width: 100%;
  width: 100%;
}
.product-page .social-buttons {
  border: 1px solid #e5e5e5;
  font-family: Times New Roman;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.product-page .social-buttons li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  height: 60px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.product-page .social-buttons li .social-title {
  display: block;
  position: absolute;
  width: 100%;
}
.product-page .social-buttons li .social-action {
  opacity: 0;
  position: relative;
  visibility: hidden;
}
.product-page .social-buttons li:hover .social-title {
  display: none;
}
.product-page .social-buttons li:hover .social-action {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 767px) {
  .product-page .social-buttons li .social-title {
    display: none;
  }
  .product-page .social-buttons li .social-action {
    opacity: 1;
    visibility: visible;
  }
}
.product-page .social-buttons li:last-child {
  border-bottom: 0px;
}

/* FOOTER */
.custom .footer-nav {
  border: none;
}

.footer-nav {
  border-top: 1px solid #e5e5e5;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-family: Varela Round;
  list-style: none;
  margin: 0;
  padding: 40px 0;
}
.footer-nav ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  list-style: none;
  margin: 0 0 24px 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .footer-nav ul.footer-links {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 16px;
    width: 100%;
  }
  .footer-nav ul.footer-links a {
    border-bottom: 1px solid #e5e5e5;
    font-family: Times New Roman;
    font-size: 13px;
    padding: 16px 0;
    text-align: center;
    text-transform: uppercase;
  }
}
.footer-nav ul a {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  display: block;
  font-size: 12px;
  padding: 8px 16px;
  text-decoration: none;
}
.footer-nav ul a:hover {
  color: Var(--secondary-color);
}

.social-links a {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  fill: #333333;
}
.social-links a:hover {
  fill: #ffea00;
}

.main-images-container {
  display: flex;
  justify-content: space-around;
}




/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} menu,article,aside,details,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}/*# sourceMappingURL=normalize.min.css.map */
* {
  box-sizing: border-box;
}